footer {
    margin: 1%;
}
.bold {
    font-weight: bold;
    font-size: 90%;
}
.underline {
    text-decoration: underline;
}
.social-logo {
    height: 26px;
    width: 26px;
}
.logo-row {
    column-gap: 20%;
}